<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Users - Shopme Admin')"></head>

<body>

<div class="container-fluid">

    <div th:replace="navigation :: menu"></div>

    <div>
        <h2>Manage Users</h2>
        <a th:href="@{/users/new}" style="text-decoration: none;" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>

        <a th:href="@{/users/export/pdf}" style="text-decoration: none;" class="fas fa-file-pdf fa-2x icon-dark"></a>
    </div>

    <div th:replace="fragments :: search_form_and_message('/users/page/1')" />

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark">
            <tr>

                <th th:replace="fragments :: column_link('/users', 'id', 'User ID', 'tag')"></th>
                </th>

                <th>Photos</th>

                <th class="hideable-column">
                <th th:replace="fragments :: column_link('/users', 'email', 'E-mail', 'tag')"></th>
                </th>

                <th th:replace="fragments :: column_link('/users', 'firstName', 'First Name', 'none')"></th>
                <th th:replace="fragments :: column_link('/users', 'lastName', 'Last Name', 'none')"></th>

                <th>Roles</th>

                <th th:replace="fragments :: column_link('/users', 'enabled', 'Enabled', 'none')"></th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td>[[${user.id}]]</td>
                <td>
                    <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                    <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
                         style="width: 100px" />
                </td>

                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>

                <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
                </td>

                <td>
                    <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
                    &nbsp;&nbsp;
                    <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"></div>

            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments :: pagination('/users', 'users')"></div>

    <div th:replace="modal_fragments :: confirm_modal" />

    <div th:replace="fragments :: footer"></div>

</div>

<script type="text/javascript">

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            link = $(this); // ShopmeAdmin/users/delete/user.id
            userId = link.attr("userId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Are you sure you want to delete this user ID " + userId + "?");
            $("#confirmModal").modal();
        });
    });

    function clearFilter() {
        window.location = "[[@{/users}]]";
    }

</script>
</body>
</html>